<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>playoh</title>
  </head>
    <body 
    id ="body"
    > 
    <div class="min-h-full" hx-get="/system/workspace"
    hx-trigger="load"
    hx-target="#body"
    hx-swap="outerHTML"
    >
    </div>
    
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.8.4"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- <script src="./common/htmx.js"></script>
  <script src="./common/hyperscript.js"></script>
  <script src="./common/sweetalert2.js"></script>
  <script src="./common/tailwind.js"></script>     -->
  <script>
    htmx.onLoad(function (target) {
      console.log(target);
      document.body.addEventListener("htmx:afterRequest", function (evt) {
        const targetError =
          evt.target.attributes.getNamedItem("hx-target-error");
        if (evt.detail.failed && targetError) {
          // document.getElementById(targetError.value).style.display = "inline";
          // document.getElementById(targetError.value).innerHTML = msg;
          let msg = evt.detail.xhr.response;
          Swal.fire({
            title: "Error!",
            text: msg,
            icon: "error",
            confirmButtonText: "close",
          });
        }
      });
      document.body.addEventListener("htmx:beforeRequest", function (evt) {
        const targetError =
          evt.target.attributes.getNamedItem("hx-target-error");
        if (targetError) {
          //document.getElementById(targetError.value).style.display = "none";
        }
      });
    });
  </script>
</html>
